[submodule "genesis/ext/LuisaRender"]
	path = genesis/ext/LuisaRender
	url = https://github.com/Alif-01/LuisaRender
[submodule "genesis/ext/ParticleMesher"]
	path = genesis/ext/ParticleMesher
	url = https://github.com/ACMLCZH/ParticleMesher
[submodule "ts_locomotion"]
	path = ts_locomotion
	url = https://github.com/TechShare-inc/ts_locomotion.git
[submodule "rsl_rl"]
	path = rsl_rl
	url = https://github.com/Wataru-Oshima-Tokyo/rsl_rl.git
[submodule "rl_locomotion"]
	path = rl_locomotion
	url = https://github.com/Wataru-Oshima-Tokyo/rl_locomotion.git
